* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.app {
  width: 1100px;
  background: white;
  border: 3px solid #000;
  padding: 15px;
}

.topbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border-bottom: 3px solid #000;
  padding-bottom: 10px;
}


.logo {
  font-weight: bold;

}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.nav button:hover,
.drop-btn:hover {
  background-color: #eaeaea;
  border-radius: 2px;
}

.filters {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.field {
  display: flex;
  flex-direction: column;
}

.field input {
  width: 200px;
  padding: 5px;
}

.select-btn {
  padding: 6px 14px;
}

.content {
  display: flex;
}

.left {
  width: 400px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.form {
  display: grid;
  grid-template-columns: 140px 1fr;
  gap: 10px;
}

.form input {
  padding: 5px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.actions button {
  width: 120px;
  height: 35px;
}

.spacer {
  width: 60px;
}

.dropdown {
  position: relative;
}

.drop-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.drop-menu {
  position: absolute;
  top: 35px;
  left: 0;
  border: 2px solid #000;
  background: #fff;
  display: none;
  flex-direction: column;
  min-width: 160px;
  z-index: 100;
}

.drop-menu.right {
  left: 0;
  right: auto;
}

.drop-menu div {
  padding: 8px 12px;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

.drop-menu div:last-child {
  border-bottom: none;
}

.drop-menu div:hover {
  background: #eee;
}

.dropdown:hover .drop-menu {
  display: flex;
}

.drop-menu div:hover {
  background-color: #f0f0f0;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #eaeaea;
  border-radius: 2px;
}
